beautifulsoup4
cachetools
certifi
cffi
chardet
click
cmake
Django==3.1.7
django-cors-headers
django-environ
django-mongodb-engine
django-storages
djangorestframework
djangotoolbox
djongo
dnspython
docker
dockerpty
docopt
environ
gitdb
GitPython
grpcio
gunicorn
httplib2
idna
inflection
kubernetes
numpy
oauth2client
oauthlib
opencv-python
packaging
pandas
pdf2image
permission-backend-nonrel
Pillow
popper
poppler-utils
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pykwalify
pymongo==3.12.1
pyparsing
pytesseract
python-box
python-dateutil
python-environ
python-magic
pytz
PyYAML
requests
requests-oauthlib
rsa
semver
six
smmap
soupsieve
spython
sqlparse==0.2.4
unicorn
uritemplate
urllib3
webapp2
websocket-client
azure-cognitiveservices-vision-computervision
azure-storage-blob